h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 720px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container
{
  display: grid;
  justify-items: center;
  align-content: center;
}
.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;

  border: 2px solid black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  font-size: 14px;
  background: rgba(223, 223, 223, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 8px;
}

.thumb-bar, .full-img
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.thumb-bar img {

  margin: 1em 0.2em;
  display: block;
  width: 15%;
  cursor: pointer;
  border: 1px solid black;
}